extends layout
block content
    .container
        nav.navbar.navbar-default.navbar-fixed-top
                .container
                    include ./navbar.jade
        .container-fluid
            .row
                h1.header-dim.well Caregiver Dashboard 
                p.lead -----------------------
                br
            .row
                .col-md-12
                    h2 Your account not yet approve by admin.
                    h2 Please contact admin for approval.