extends layout
   
block content
    .container
        nav.navbar.navbar-default.navbar-fixed-top
                .container
                    include ./navbar.jade
        .container-fluid
            .row
                h1.header-dim.well Change Password
                p.lead -----------------
                p * required
                br
                form#changepasswordform.form-horizontal(role='form',action="/changepassword/#{user._id}",method="post",style='max-width:700px;')
                        
                    .form-group.has-feedback
                        label.col-sm-4(for="password") New Password : *
                        .col-sm-8
                            input.form-control(type='password',name="password",id="password",placeholder="New Password",autocomplete="off",required,onchange="valPassword()") 
                            span#password_ok.glyphicon.glyphicon-ok.form-control-feedback.hidden
                            span#password_err.glyphicon.glyphicon-remove.form-control-feedback.hidden
                    .form-group.has-feedback
                        label.col-sm-4(for="c_password") New Password : *
                        .col-sm-8
                            input.form-control(type='password',name="c_password",id="c_password",placeholder="Confirm Password",autocomplete="off",required,onchange="confirmPassword()") 
                            span#cpassword_ok.glyphicon.glyphicon-ok.form-control-feedback.hidden
                            span#cpassword_err.glyphicon.glyphicon-remove.form-control-feedback.hidden

                    .pull-right
                        a(onclick="submitChangePassword()")
                            button.btn.btn-primary(type="button") Submit
       
                        a(href='/')
                            button.btn.btn-default(type="button") Cancel
                    br
                    h4.red #{info}

    script(src='../javascripts/user.js')